<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupStaticAttributes="false"

        cacheTokens="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"

        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"

        strict="false"
        verbose="false">
    <testsuites>
        <testsuite name="AllTests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">desktop</directory>
            <directory suffix=".php">core</directory>
        </whitelist>
        <blacklist>
            <directory>vendor</directory>
            <directory>build</directory>
            <directory>docs</directory>
            <directory>plugin_info</directory>
        </blacklist>
    </filter>
</phpunit>
