#optimize-plugin .row {
    margin-top: 2rem
}

#optimize-plugin .fa-check-circle {
    color: #5cb85c
}

#optimize-plugin .fa-exclamation-triangle {
    color: #f0ad4e;
    cursor: pointer
}

#optimize-plugin td.action-cell, #optimize-plugin th {
    text-align: center
}

#optimize-plugin .hidden-msg {
    display: none
}

#optimize-plugin table {
    margin-bottom: 0;
}

#optimize-plugin h3 {
    margin-top: 0;
    margin-bottom: 0;
}
